p {
  margin: 0;
}
body {
  font-family: "Commissioner", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a0a9b9;
}
.page {
  background-color: white;
  padding: 30px;
  width: 600px;
  border-radius: 20px;
}
.header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 20px;
}
.company {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.company-name {
  font-size: 18px;
  padding-left: 10px;
}
.twitter {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
}
.icon {
  padding-left: 8px;
}
.button {
  background-color: white;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
}
.background {
  background-color: black;
  color: white;
}
.content {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text {
  font-size: 25px;
  line-height: 40px;
}
.sub-text {
  font-weight: 800;
  font-size: 29px;
}
.para-text {
  padding-top: 10px;
  line-height: 25px;
  font-size: 15px;
}
.conf {
  height: 300px;
  width: 300px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 10px;
}
.marketing {
  display: grid;
  grid-template-columns: 8fr 1fr 2fr;
  align-items: center;
  justify-content: center;
}
.product {
  font-size: 10px;
  font-weight: 800;
}
.date {
  padding-top: 5px;
  font-size: 10px;
  color: #b2b2b2;
}
