p{
    margin:0;
  }
  body{
   height:100vh;
   margin:0; 
   display:flex;
   align-items:center;
   justify-content:center;
   background-color:#EFF2F8; 
  }
  #card-top{
    padding:20px;
    background-color:white;
    border-radius:10px;
    width:200px;  
    font-family:'Roboto Condensed', sans-serif;
    box-shadow:10px 5px 5px #E4E6EB;
  }
  #heading{
    color:#9E9E9E;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-weight:bold;
  }
  #number{
    padding-top:10px;
    color:black;
  }
  #content{
    background-color:#FAFAFA;
    border-radius:3px;
    font-weight:bold;
    font-size:12px;
    padding:12px;
  }
  #sub-header{
    color:#7B7B7B;
  }
  #sub-heading{
    color:black;
    padding-top:10px;
    font-weight:bold;
    padding-bottom:13px;
  }
  button{
    background-color:#3E78F6;
    border:none;
    border-radius:5px;
    color:white;
    padding:10px;
    font-size:10px;
    font-weight:650px;
    width:180px;
  }
  #card-bottom{
    border-radius:10px;  
    background-color:#3E78F6;
    font-family:'Roboto Condensed', sans-serif;
    box-shadow:10px 5px 5px #E4E6EB;
  }
  #heading-bottom{
    border-radius:10px;  
    display:flex;
    justify-content:space-between;
    background-color:#3E78F6;
    align-items:center;
    padding:10px;
    color:white;
    font-weight:bold;
  }
  #content-bottom{
    padding:5px;
    background-color:white;
    border-radius:10px;  
  }
  .content-line{
    padding:10px 0px;
    display:grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    align-items:center;
  }
  .desc-line{
    font-weight:bold;
    padding-bottom:7px;
    font-size:11px;
  }
  #date{
    font-size:10px;
    font-weight:800px;
    color:#9E9E9E;
  }
  .dollar{
    align-self:start;
    font-weight:bold;
    font-size:11px;
  }
  