body {
  justify-content: center;
  align-items: center;
  display: grid;
  background-color: #f8f8f8;
}
#ham-view {
  padding: 20px;
  width: 150px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #ececec;
  font-family: Roboto, sans-serif;
}
#quick-menu {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
#red {
  width: 10px;
  height: 10px;
  background-color: #ed6b60;
  border-radius: 50px;
}
#yellow {
  background-color: #f5bf50;
  width: 10px;
  margin: 0px 8px;
  height: 10px;
  border-radius: 50px;
}
#green {
  border-radius: 5px;
  width: 10px;
  height: 10px;
  background-color: #62c555;
}
#name {
  color: #393b46;
  font-weight: bold;
}
#search-bar {
  background-color: #f8f8f8;
}
#text {
  color: #bec1c8;
  font-size: 12px;
}
.menu-item {
  display: grid;
  padding: 10px 0px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 2fr;
}
#menu-icon {
  width: 7px;
  height: 7px;
  background-color: #fb5f5f;
  border-radius: 10px;
  position: absolute;
  top: 283px;
  border: 2px solid white;
}
.menu-desc {
  font-size: 13px;
  color: #767c8f;
}
hr {
  background-color: #f4f4f4;
}
