ul{
    list-style:none;
    }
    body{
      display:flex;
      justify-content:center;
      align-items:center;
      min-height:100vh;
    }
    p{
      margin:0;
    }
    .page{
      width:90%;
      font-family: 'Lato', sans-serif; 
      border:2px solid black;
      padding:10px 0;
      padding-left:50px;
      background-color:#FEFEFE;
    }
    .headers{
      display:flex;
      align-items:center;
      gap:40px;
      padding-bottom:70px;
      padding-right:50px;
      z-index:4;
      position:relative;
    }
    .company-name{
      color:#2B4CDE;
      font-weight:900;
      font-size:18px;
    }
    nav{
      flex:1;
    }
    .nav-menu{
      display:flex;
      justify-content:center;
    }
    .selected-item{
      color:#3857E0;
      font-size:11px;
      font-weight:700;
    }
    .item{
      font-size:11px;
      font-weight:700;  
      padding:0 20px;
    }
    .login-signup{
      padding-left:80px;
      color:white;
      display:flex;
      align-items:center;
      font-size:14px;
      font-weight:700;
    }
    .button-style{
      background-color:#2B4CDE;
      border-style:none;
      padding:10px 20px;
      color:white;
      margin:0 50px;
    }
    .bigger-text{
      font-size:12px;
      margin:0;
    }
    .content{
      display:grid;
      grid-template-columns:2fr 2fr;
      gap:10px;
    }
    .left{
      z-index:3;
    }
    .heading{
     font-size:35px;
     font-weight:900;
     line-height:50px;
     padding-bottom:20px;
    }
    .emphasized-text{
      color:#3A59E0;
    }
    .sub-heading{
      font-size:14px;
      color:#96A0B5;
      line-height:30px;
      font-weight:700;
      padding-bottom:35px;
    }
    .details{
      display:grid;
      grid-template-columns:repeat(4,1fr);
      gap:20px;
      background-color:white;
      box-shadow:0 5px 15px #F5F5F5;
      padding:20px;
      margin-bottom:30px;
      margin-right:-155px;
    }
    .end{
        margin-left:22px;
    }
    .row-header{
      padding-bottom:10px;
      font-size:11px;
      color:#4C68E3;
      font-weight:900;
    }
    .row-detail{
      font-size:10px;
      font-weight:900;
    }
    .vertical-img-style{
      width:100%;
      height:100%;
      z-index:1;
      margin-top:-126px;
    }
    .partnerships{
      color:#45535F;
      font-size:13px;
      font-weight:700;
    }
    .logos{
      filter:grayscale(1);
      display:grid;
      grid-template-columns:1fr 1fr 1fr;
      max-width:350px;
    }
    .logo{
     width:45px;
      height:45px;
    }
    .listing{
      padding-top:40px;
      padding-right:50px;
    }
    .sub-heading-style{
     color:#96A0B5;
     font-size:10px;
     font-weight:700;
     padding-bottom:10px;
    }
    .list-details{
      display:grid;
      grid-template-columns:2fr 2fr 2fr;
      justify-content:center;
      align-items:center;
      gap:40px;
      padding-bottom:20px;
    }
    .arrows{
      margin-left:auto;
    }
    .title{
      font-size:20px;
      font-weight:700;
    }
    .house-images{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:15px;
    }
    .img-container{
      position:relative;
    }
    .image-style{
      width:100%;
      height:300px;
      object-fit:cover;
    }
    .in-image-button{
      position:absolute;
      bottom:0;
      left:0;
      padding:10px 20px;
      background-color:white;
      color:#2B4CDE;
      border-style:none;
      font-size:12px;
      font-weight:700;
    }
    .house-name{
      font-size:16px;
      font-weight:700;
      padding-top:10px;
    }
    .house-location{
      padding-top:10px;
      display:flex;
      align-items:center;
    }
    .location{
      padding-left:8px;
      font-size:9px;
      font-weight:700;
      color:#96A0B5;
    }
    .cost-align{
      display:flex;
      align-items:center;
    }
    .house-cost{
      padding-top:10px;
      color:#3656E0;
      font-size:17px;
      font-weight:900;
    }
    .house-discount-cost{
      padding-top:10px;
      padding-right:10px;
      color:#C6CBD7;
      font-size:16px;
      font-weight:900;
    }