p {
  margin: 0;
}
body {
  background-color: #eaeff4;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#receipt {
  padding: 25px;
  font-family: "Noto Sans JP", sans-serif;
  background-color: white;
  border-shadow: 10px 10px 10px #e4e6ec;
  border-radius: 12px;
  width: 400px;
}
#heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
#company {
  display: flex;
  align-items: center;
}
#company-name {
  padding-left: 7px;
  font-size: 17px;
  font-weight: bold;
}
#complete {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  color: #7ebd9b;
  background-color: #edfdf3;
  font-size: 12px;
  border-radius: 5px;
}
#context {
  color: #a7a9b1;
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 15px;
}
#signatures {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
}
.signers {
  padding-bottom: 10px;
  display: grid;
  gap: 15px;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
}
.signee-name {
  font-weight: bold;
}
.signee-email {
  padding-top: 8px;
  color: #a3a6ac;
  font-size: 12px;
}
.signed {
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
button {
  background-color: #2161f5;
  color: white;
  border: 150px none white;
  border-radius: 5px;
  padding: 15px;
}
